.about {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.about__item {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.about__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  margin-bottom: 30px;
  margin-top: 0;

  background-color: #f5f4fa;
}

.about__title {
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  color: var(--title-text-color);
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.about__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  align-items: center;
}
